In [2]:
import pandas as pd
import sqlite3

In [3]:
conn=sqlite3.connect('inventory.db')

In [4]:
tables=pd.read_sql_query("SELECT name FROM sqlite_master WHERE type='table'",conn)
tables

                         name
0              vendor_invoice
1             purchase_prices
2                       sales
3             begin_inventory
4               end_inventory
5                   purchases
6        vendor_sales_summary
7  vendor_sales_summary_clean

In [5]:
for table in tables['name']:
    print('-'*50,f'{table}','-'*50)
    print('count of records:',pd.read_sql(f"select count(*) as count from {table}",conn)['count'].values[0])
    display(pd.read_sql(f"select  * from {table} limit 5",conn))

-------------------------------------------------- vendor_invoice --------------------------------------------------
count of records: 11086

,VendorNumber,VendorName,InvoiceDate,PONumber,PODate,PayDate,Quantity,Dollars,Freight,Approval
0,105,ALTAMAR BRANDS LLC,2024-01-04,8124,2023-12-21,2024-02-16,6,214.26,3.47,None
1,4466,AMERICAN VINTAGE BEVERAGE,2024-01-07,8137,2023-12-22,2024-02-21,15,140.55,8.57,None
2,388,ATLANTIC IMPORTING COMPANY,2024-01-09,8169,2023-12-24,2024-02-16,5,106.60,4.61,None
3,480,BACARDI USA INC,2024-01-12,8106,2023-12-20,2024-02-05,10100,137483.78,2935.20,None
4,516,BANFI PRODUCTS CORP,2024-01-07,8170,2023-12-24,2024-02-12,1935,15527.25,429.20,None

-------------------------------------------------- purchase_prices --------------------------------------------------
count of records: 36783

,Brand,Description,Price,Size,Volume,Classification,PurchasePrice,VendorNumber,VendorName
0,58,Gekkeikan Black & Gold Sake,12.99,750mL,750,1,9.28,8320,SHAW ROSS INT L IMP LTD
1,62,Herradura Silver Tequila,36.99,750mL,750,1,28.67,1128,BROWN-FORMAN CORP
2,63,Herradura Reposado Tequila,38.99,750mL,750,1,30.46,1128,BROWN-FORMAN CORP
3,72,No. 3 London Dry Gin,34.99,750mL,750,1,26.11,9165,ULTRA BEVERAGE COMPANY LLP
4,75,Three Olives Tomato Vodka,14.99,750mL,750,1,10.94,7245,PROXIMO SPIRITS INC.

-------------------------------------------------- sales --------------------------------------------------
count of records: 12825363

,InventoryId,Store,Brand,Description,Size,SalesQuantity,SalesDollars,SalesPrice,SalesDate,Volume,Classification,ExciseTax,VendorNo,VendorName
0,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,1,16.49,16.49,2024-01-01,750.0,1,0.79,12546,JIM BEAM BRANDS COMPANY
1,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,2,32.98,16.49,2024-01-02,750.0,1,1.57,12546,JIM BEAM BRANDS COMPANY
2,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,1,16.49,16.49,2024-01-03,750.0,1,0.79,12546,JIM BEAM BRANDS COMPANY
3,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,1,14.49,14.49,2024-01-08,750.0,1,0.79,12546,JIM BEAM BRANDS COMPANY
4,1_HARDERSFIELD_1005,1,1005,Maker's Mark Combo Pack,375mL 2 Pk,2,69.98,34.99,2024-01-09,375.0,1,0.79,12546,JIM BEAM BRANDS COMPANY

-------------------------------------------------- begin_inventory --------------------------------------------------
count of records: 533493

,InventoryId,Store,City,Brand,Description,Size,onHand,Price,startDate
0,1_HARDERSFIELD_58,1,HARDERSFIELD,58,Gekkeikan Black & Gold Sake,750mL,8,12.99,2024-01-01
1,1_HARDERSFIELD_60,1,HARDERSFIELD,60,Canadian Club 1858 VAP,750mL,7,10.99,2024-01-01
2,1_HARDERSFIELD_62,1,HARDERSFIELD,62,Herradura Silver Tequila,750mL,6,36.99,2024-01-01
3,1_HARDERSFIELD_63,1,HARDERSFIELD,63,Herradura Reposado Tequila,750mL,3,38.99,2024-01-01
4,1_HARDERSFIELD_72,1,HARDERSFIELD,72,No. 3 London Dry Gin,750mL,6,34.99,2024-01-01

-------------------------------------------------- end_inventory --------------------------------------------------
count of records: 448978

,InventoryId,Store,City,Brand,Description,Size,onHand,Price,endDate
0,1_HARDERSFIELD_58,1,HARDERSFIELD,58,Gekkeikan Black & Gold Sake,750mL,11,12.99,2024-12-31
1,1_HARDERSFIELD_62,1,HARDERSFIELD,62,Herradura Silver Tequila,750mL,7,36.99,2024-12-31
2,1_HARDERSFIELD_63,1,HARDERSFIELD,63,Herradura Reposado Tequila,750mL,7,38.99,2024-12-31
3,1_HARDERSFIELD_72,1,HARDERSFIELD,72,No. 3 London Dry Gin,750mL,4,34.99,2024-12-31
4,1_HARDERSFIELD_75,1,HARDERSFIELD,75,Three Olives Tomato Vodka,750mL,7,14.99,2024-12-31

-------------------------------------------------- purchases --------------------------------------------------
count of records: 4209596

,InventoryId,Store,Brand,Description,Size,VendorNumber,VendorName,PONumber,PODate,ReceivingDate,InvoiceDate,PayDate,PurchasePrice,Quantity,Dollars,Classification
0,69_MOUNTMEND_8412,69,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,8124,2023-12-21,2024-01-02,2024-01-04,2024-02-16,35.71,6,214.26,1
1,30_CULCHETH_5255,30,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2023-12-22,2024-01-01,2024-01-07,2024-02-21,9.35,4,37.40,1
2,34_PITMERDEN_5215,34,5215,TGI Fridays Long Island Iced,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2023-12-22,2024-01-02,2024-01-07,2024-02-21,9.41,5,47.05,1
3,1_HARDERSFIELD_5255,1,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2023-12-22,2024-01-01,2024-01-07,2024-02-21,9.35,6,56.10,1
4,76_DONCASTER_2034,76,2034,Glendalough Double Barrel,750mL,388,ATLANTIC IMPORTING COMPANY,8169,2023-12-24,2024-01-02,2024-01-09,2024-02-16,21.32,5,106.60,1

-------------------------------------------------- vendor_sales_summary --------------------------------------------------
count of records: 10692

,VendorNumber,VendorName,Brand,AvgPurchasePrice,TotalPurchaseQuantity,TotalPurchaseDollars,AvgActualPrice,TotalVolume,Description,TotalSalesDollars,TotalSalesPrice,TotalExciseTax,TotalSellsQuantity,FreightCost,EstimatedProfit,grossprofit,ProfitMargin,SalesToPurchaseRatio,stockturnover
0,1128,BROWN-FORMAN CORP,1233,26.27,768207,20180797.89,36.99,62144250.0,Jack Daniels No 7 Black,5101919.51,672819.31,260999.20,142049.0,137203.36,-15216081.74,-15078878.38,-295.553043,0.252811,0.184910
1,4425,MARTIGNETTI COMPANIES,3405,23.19,863895,20033725.05,28.99,60396000.0,Tito's Handmade Vodka,4819073.49,561512.37,294438.66,160247.0,289858.48,-15504510.04,-15214651.56,-315.717359,0.240548,0.185494
2,17035,PERNOD RICARD USA,8068,18.24,1005435,18339134.40,24.99,69000750.0,Absolut 80 Proof,4538120.60,461140.15,343854.07,187140.0,247560.44,-14048574.24,-13801013.80,-304.112980,0.247456,0.186128
3,3960,DIAGEO NORTH AMERICA INC,4261,16.17,1022724,16537447.08,22.99,62574750.0,Capt Morgan Spiced Rum,4475972.88,420050.01,368242.80,200412.0,514064.14,-12575538.34,-12061474.20,-269.471566,0.270657,0.195959
4,3960,DIAGEO NORTH AMERICA INC,3545,21.89,721290,15789038.10,29.99,59619000.0,Ketel One Vodka,4223107.62,545778.28,249587.83,135838.0,514064.14,-12079994.62,-11565930.48,-273.872502,0.267471,0.188326

-------------------------------------------------- vendor_sales_summary_clean --------------------------------------------------
count of records: 10692

,VendorNumber,VendorName,Brand,Description,AvgPurchasePrice,TotalPurchaseQuantity,TotalPurchaseDollars,AvgActualPrice,TotalVolume,TotalSalesDollars,TotalSalesPrice,TotalSalesQuantity,TotalExciseTax,FreightCost,EstimatedProfit,GrossProfit,ProfitMargin,SalesToPurchaseRatio,StockTurnover
0,1128,BROWN-FORMAN CORP,1233,Jack Daniels No 7 Black,26.27,768207,20180797.89,36.99,62144250.0,5101919.51,672819.31,142049.0,260999.20,137203.36,-15216081.74,-15078878.38,-295.553043,0.252811,0.184910
1,4425,MARTIGNETTI COMPANIES,3405,Tito's Handmade Vodka,23.19,863895,20033725.05,28.99,60396000.0,4819073.49,561512.37,160247.0,294438.66,289858.48,-15504510.04,-15214651.56,-315.717359,0.240548,0.185494
2,17035,PERNOD RICARD USA,8068,Absolut 80 Proof,18.24,1005435,18339134.40,24.99,69000750.0,4538120.60,461140.15,187140.0,343854.07,247560.44,-14048574.24,-13801013.80,-304.112980,0.247456,0.186128
3,3960,DIAGEO NORTH AMERICA INC,4261,Capt Morgan Spiced Rum,16.17,1022724,16537447.08,22.99,62574750.0,4475972.88,420050.01,200412.0,368242.80,514064.14,-12575538.34,-12061474.20,-269.471566,0.270657,0.195959
4,3960,DIAGEO NORTH AMERICA INC,3545,Ketel One Vodka,21.89,721290,15789038.10,29.99,59619000.0,4223107.62,545778.28,135838.0,249587.83,514064.14,-12079994.62,-11565930.48,-273.872502,0.267471,0.188326

In [6]:
freight_summary = pd.read_sql_query("""select VendorNumber , SUM(Freight) as FreightCost
From vendor_invoice
Group BY VendorNumber""",conn)

In [7]:
pd.read_sql_query("""
SELECT
    p.VendorNumber,
    p.VendorName,
    p.Brand,
    p.Description,
    AVG(p.PurchasePrice) AS AvgPurchasePrice,
    SUM(p.Quantity) AS TotalPurchaseQuantity,
    SUM(p.Dollars) AS TotalPurchaseDollars,
    AVG(pp.Price) AS AvgActualPrice,
    SUM(pp.Volume) AS TotalVolume
FROM purchases p
JOIN purchase_prices pp
    ON p.Brand = pp.Brand
WHERE p.PurchasePrice > 0
GROUP BY
    p.VendorNumber,
    p.VendorName,
    p.Brand,
    p.Description
ORDER BY
    TotalPurchaseDollars DESC
""", conn)

,VendorNumber,VendorName,Brand,Description,AvgPurchasePrice,TotalPurchaseQuantity,TotalPurchaseDollars,AvgActualPrice,TotalVolume
0,1128,BROWN-FORMAN CORP,1233,Jack Daniels No 7 Black,26.27,768207,20180797.89,36.99,62144250.0
1,4425,MARTIGNETTI COMPANIES,3405,Tito's Handmade Vodka,23.19,863895,20033725.05,28.99,60396000.0
2,17035,PERNOD RICARD USA,8068,Absolut 80 Proof,18.24,1005435,18339134.40,24.99,69000750.0
3,3960,DIAGEO NORTH AMERICA INC,4261,Capt Morgan Spiced Rum,16.17,1022724,16537447.08,22.99,62574750.0
4,3960,DIAGEO NORTH AMERICA INC,3545,Ketel One Vodka,21.89,721290,15789038.10,29.99,59619000.0
...,...,...,...,...,...,...,...,...,...
10687,9815,WINE GROUP INC,8527,Concannon Glen Ellen Wh Zin,1.32,12,15.84,4.99,4500.0
10688,8004,SAZERAC CO INC,5683,Dr McGillicuddy's Apple Pie,0.39,36,14.04,0.49,300.0
10689,3960,DIAGEO NORTH AMERICA INC,6127,The Club Strawbry Margarita,1.47,6,8.82,1.99,1200.0
10690,3924,HEAVEN HILL DISTILLERIES,9123,Deep Eddy Vodka,0.74,6,4.44,0.99,150.0
10691,7245,PROXIMO SPIRITS INC.,3065,Three Olives Grape Vodka,0.71,6,4.26,0.99,300.0

In [8]:
pd.read_sql_query("""SELECT
VendorNo,
Brand,
SUM(SalesDollars)as TotalSalesDollars,
SUM(SalesPrice) as TotalSalesPrice,
SUM(ExciseTax) as TotalExciseTax,
SUM(SalesQuantity) as TotalSellsQuantity
FROM Sales
GROUP BY VendorNo, Brand """,conn)

,VendorNo,Brand,TotalSalesDollars,TotalSalesPrice,TotalExciseTax,TotalSellsQuantity
0,2,90085,665.82,295.92,2.00,18
1,2,90609,599.76,449.82,0.52,24
2,60,771,704.53,494.67,37.01,47
3,60,3979,66871.69,41682.51,7224.06,3931
4,105,2529,359.88,59.98,9.44,12
...,...,...,...,...,...,...
11267,173357,2804,6298.60,3194.29,110.33,140
11268,173357,3666,8996.40,4873.05,141.19,360
11269,173357,3848,185.94,92.97,4.71,6
11270,173357,3909,24540.18,14469.21,773.87,982
11271,201359,90609,1474.41,1324.47,1.24,59

In [9]:
import time
import pandas as pd

start = time.time()

Vendor_Sales_Summary = pd.read_sql_query("""
WITH 
freight_summary AS (
    SELECT 
        VendorNumber, 
        SUM(Freight) AS FreightCost
    FROM vendor_invoice
    GROUP BY VendorNumber
),
purchase_summary AS (
    SELECT
        p.VendorNumber,
        p.VendorName,
        p.Brand,
        p.Description,                                 
        AVG(p.PurchasePrice) AS AvgPurchasePrice,
        SUM(p.Quantity) AS TotalPurchaseQuantity,
        SUM(p.Dollars) AS TotalPurchaseDollars,
        AVG(pp.Price) AS AvgActualPrice,
        SUM(pp.Volume) AS TotalVolume
    FROM purchases p
    JOIN purchase_prices pp
        ON p.Brand = pp.Brand
    WHERE p.PurchasePrice > 0
    GROUP BY
        p.VendorNumber, p.VendorName, p.Brand, p.Description
),
sales_summary AS (
    SELECT
        VendorNo,
        Brand,
        SUM(SalesDollars) AS TotalSalesDollars,
        SUM(SalesPrice) AS TotalSalesPrice,
        SUM(ExciseTax) AS TotalExciseTax,
        SUM(SalesQuantity) AS TotalSellsQuantity
    FROM Sales
    GROUP BY VendorNo, Brand
),
Vendor_Sales_Summary AS (
    SELECT
        ps.VendorNumber,
        ps.VendorName,
        ps.Brand,
        ps.AvgPurchasePrice,
        ps.TotalPurchaseQuantity,
        ps.TotalPurchaseDollars,
        ps.AvgActualPrice,
        ps.TotalVolume,
        ps.Description,
        ss.TotalSalesDollars,
        ss.TotalSalesPrice,
        ss.TotalExciseTax,
        ss.TotalSellsQuantity,
        fs.FreightCost,
        (IFNULL(ss.TotalSalesDollars, 0) 
         - IFNULL(ps.TotalPurchaseDollars, 0)  
         - IFNULL(fs.FreightCost, 0)) AS EstimatedProfit
    FROM purchase_summary ps
    LEFT JOIN sales_summary ss
        ON ps.VendorNumber = ss.VendorNo AND ps.Brand = ss.Brand
    LEFT JOIN freight_summary fs
        ON ps.VendorNumber = fs.VendorNumber
)
--  Final SELECT outside the CTE
SELECT *
FROM Vendor_Sales_Summary
ORDER BY TotalPurchaseDollars DESC;
""",conn)

end = time.time()
execution_time = (end - start) / 60  # Convert seconds to minutes

print(f" Query executed successfully in {execution_time:.2f} minutes")
display(Vendor_Sales_Summary.head())

 Query executed successfully in 3.09 minutes

,VendorNumber,VendorName,Brand,AvgPurchasePrice,TotalPurchaseQuantity,TotalPurchaseDollars,AvgActualPrice,TotalVolume,Description,TotalSalesDollars,TotalSalesPrice,TotalExciseTax,TotalSellsQuantity,FreightCost,EstimatedProfit
0,1128,BROWN-FORMAN CORP,1233,26.27,768207,20180797.89,36.99,62144250.0,Jack Daniels No 7 Black,5101919.51,672819.31,260999.20,142049.0,137203.36,-15216081.74
1,4425,MARTIGNETTI COMPANIES,3405,23.19,863895,20033725.05,28.99,60396000.0,Tito's Handmade Vodka,4819073.49,561512.37,294438.66,160247.0,289858.48,-15504510.04
2,17035,PERNOD RICARD USA,8068,18.24,1005435,18339134.40,24.99,69000750.0,Absolut 80 Proof,4538120.60,461140.15,343854.07,187140.0,247560.44,-14048574.24
3,3960,DIAGEO NORTH AMERICA INC,4261,16.17,1022724,16537447.08,22.99,62574750.0,Capt Morgan Spiced Rum,4475972.88,420050.01,368242.80,200412.0,514064.14,-12575538.34
4,3960,DIAGEO NORTH AMERICA INC,3545,21.89,721290,15789038.10,29.99,59619000.0,Ketel One Vodka,4223107.62,545778.28,249587.83,135838.0,514064.14,-12079994.62

In [10]:
Vendor_Sales_Summary.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10692 entries, 0 to 10691
Data columns (total 15 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   VendorNumber           10692 non-null  int64
 1   VendorName             10692 non-null  object
 2   Brand                  10692 non-null  int64
 3   AvgPurchasePrice       10692 non-null  float64
 4   TotalPurchaseQuantity  10692 non-null  int64
 5   TotalPurchaseDollars   10692 non-null  float64
 6   AvgActualPrice         10692 non-null  float64
 7   TotalVolume            10692 non-null  float64
 8   Description            10692 non-null  object
 9   TotalSalesDollars      10514 non-null  float64
 10  TotalSalesPrice        10514 non-null  float64
 11  TotalExciseTax         10514 non-null  float64
 12  TotalSellsQuantity     10514 non-null  float64
 13  FreightCost            10692 non-null  float64
 14  EstimatedProfit        10692 non-null  float64
dtypes: float64(10), int64(3), object(2)
memory usage: 1.2+ MB

In [11]:
Vendor_Sales_Summary.isnull().sum()

VendorNumber               0
VendorName                 0
Brand                      0
AvgPurchasePrice           0
TotalPurchaseQuantity      0
TotalPurchaseDollars       0
AvgActualPrice             0
TotalVolume                0
Description                0
TotalSalesDollars        178
TotalSalesPrice          178
TotalExciseTax           178
TotalSellsQuantity       178
FreightCost                0
EstimatedProfit            0
dtype: int64

In [12]:
Vendor_Sales_Summary.head()

,VendorNumber,VendorName,Brand,AvgPurchasePrice,TotalPurchaseQuantity,TotalPurchaseDollars,AvgActualPrice,TotalVolume,Description,TotalSalesDollars,TotalSalesPrice,TotalExciseTax,TotalSellsQuantity,FreightCost,EstimatedProfit
0,1128,BROWN-FORMAN CORP,1233,26.27,768207,20180797.89,36.99,62144250.0,Jack Daniels No 7 Black,5101919.51,672819.31,260999.20,142049.0,137203.36,-15216081.74
1,4425,MARTIGNETTI COMPANIES,3405,23.19,863895,20033725.05,28.99,60396000.0,Tito's Handmade Vodka,4819073.49,561512.37,294438.66,160247.0,289858.48,-15504510.04
2,17035,PERNOD RICARD USA,8068,18.24,1005435,18339134.40,24.99,69000750.0,Absolut 80 Proof,4538120.60,461140.15,343854.07,187140.0,247560.44,-14048574.24
3,3960,DIAGEO NORTH AMERICA INC,4261,16.17,1022724,16537447.08,22.99,62574750.0,Capt Morgan Spiced Rum,4475972.88,420050.01,368242.80,200412.0,514064.14,-12575538.34
4,3960,DIAGEO NORTH AMERICA INC,3545,21.89,721290,15789038.10,29.99,59619000.0,Ketel One Vodka,4223107.62,545778.28,249587.83,135838.0,514064.14,-12079994.62

In [13]:
Vendor_Sales_Summary.fillna(0,inplace= True)

In [14]:
Vendor_Sales_Summary['VendorName']= Vendor_Sales_Summary['VendorName'].str.strip()

In [15]:
Vendor_Sales_Summary['grossprofit'] = Vendor_Sales_Summary['TotalSalesDollars']-Vendor_Sales_Summary['TotalPurchaseDollars']

In [16]:
Vendor_Sales_Summary['grossprofit'].min()

np.float64(-15214651.56)

In [17]:
Vendor_Sales_Summary['ProfitMargin']= (Vendor_Sales_Summary['grossprofit']/Vendor_Sales_Summary['TotalSalesDollars'])*100

In [18]:
Vendor_Sales_Summary['SalesToPurchaseRatio'] = Vendor_Sales_Summary['TotalSalesDollars']/Vendor_Sales_Summary['TotalPurchaseDollars']

In [19]:
Vendor_Sales_Summary['stockturnover'] = Vendor_Sales_Summary['TotalSellsQuantity']/Vendor_Sales_Summary['TotalPurchaseQuantity']

In [20]:
Vendor_Sales_Summary.columns

Index(['VendorNumber', 'VendorName', 'Brand', 'AvgPurchasePrice',
       'TotalPurchaseQuantity', 'TotalPurchaseDollars', 'AvgActualPrice',
       'TotalVolume', 'Description', 'TotalSalesDollars', 'TotalSalesPrice',
       'TotalExciseTax', 'TotalSellsQuantity', 'FreightCost',
       'EstimatedProfit', 'grossprofit', 'ProfitMargin',
       'SalesToPurchaseRatio', 'stockturnover'],
      dtype='object')

In [21]:
cursor = conn.cursor()

In [22]:
cursor.execute("""
CREATE TABLE IF NOT EXISTS Vendor_Sales_Summary (
    VendorNumber INTEGER,
    VendorName VARCHAR(100),
    Brand VARCHAR(100),

    AvgPurchasePrice DECIMAL(10,2),
    TotalPurchaseQuantity INTEGER,
    TotalPurchaseDollars DECIMAL(15,2),

    AvgActualPrice DECIMAL(10,2),
    TotalVolume DECIMAL(15,2),

    Description VARCHAR(200),

    TotalSalesDollars DECIMAL(15,2),
    TotalSalesPrice DECIMAL(15,2),
    TotalExciseTax DECIMAL(15,2),
    TotalSellsQuantity INTEGER,

    FreightCost DECIMAL(15,2),
    EstimatedProfit DECIMAL(15,2),
    grossprofit DECIMAL(15,2),
    ProfitMargin DECIMAL(10,4),
    SalesToPurchaseRatio DECIMAL(10,4),
    stockturnover DECIMAL(10,4),

    PRIMARY KEY (VendorNumber, Brand)
);
""")

conn.commit()
print(" Vendor_Sales_Summary table created successfully.")

 Vendor_Sales_Summary table created successfully.

In [23]:
# Drop existing table manually
conn.execute("DROP TABLE IF EXISTS vendor_sales_summary;")
conn.commit()

# Write new table
Vendor_Sales_Summary.to_sql(
    "vendor_sales_summary",
    conn,
    if_exists="replace",
    index=False
)

print(" Table replaced successfully.")

 Table replaced successfully.